html {
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    max-width: 1500px;

}

.banners-catalog {
    background-image: url("assets/main.jpg");
    border-radius: 50%;
    max-width: 1500px;
    min-height: 370px;
}

.banners-catalog-circle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.banners-catalog-circle-fir, .banners-catalog-circle-sec {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: 170px;
    display: flex;
    justify-content: space-between;
}

.banners-catalog-circle-sec {

}


.banners-catalog-custom__img {
    max-width: 1440px;
    min-height: 370px;
}

.banners-catalog-custom__dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

@media screen  and (min-width: 1024px) and (max-width: 1280px) {

}