html {
    width: 100%;
}

.banner {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
}

.banner-catalog {
    background-image: url("assets/main.jpg");
    border-radius: 20px;
    max-width: 1500px;
    min-height: 370px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.banner-catalog-circle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px;
}

.banner-catalog-circle-fir, .banner-catalog-circle-sec {
    height: 70px;
    width: 70px;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner-catalog-circle-fir-arrow {
    height: 30px;
    width: 30px;
    z-index: 2;
}

.banner-catalog-circle-sec-arrow {
    transform: rotate(180deg);
    height: 30px;
    width: 30px;
    z-index: 2;
}

.banner-catalog-custom__img {
    max-width: 1440px;
    min-height: 370px;
}

.banner-catalog-slider {
    margin: 15px auto;
}

.banner-catalog-slider-dot {
    height: 15px;
    width: 15px;
    background-color: rgba(192, 192, 192, 0.5);
    border-radius: 50%;
    margin: 0 15px;
    display: inline-block;
}

@media screen  and (min-width: 1024px) and (max-width: 1280px) {
    .banner-catalog {
        background-position: center;
    }
}

@media screen and (max-width: 1023px) {
    .banner-catalog {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("assets/mainmob.jpg");
        width: 100%;
        height: 100%;
    }

    .banner-catalog-circle {
        display: none;
    }
}