html {
    width: 100%;
}

header {
    background-image: linear-gradient(to right, rgb(201, 17, 170), rgb(73, 17, 116));
    max-width: 1440px;
}

.banners-catalog {
    display: flex;
    flex-direction: column;
}

.banners-catalog-custom {
    background: white;
}

.banners-catalog-custom__circle, .banners-catalog-custom__circle2 {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    top: 170px;
    display: flex;
    justify-content: space-between;
}

.banners-catalog-custom__img {
    max-width: 1440px;
    min-height: 370px;
}

.banners-catalog-custom__dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}